RewriteEngine On
RewriteBase /

# Stuur alles behalve bestaande bestanden of mappen naar index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
